body {
  background-image: url(/imagenes/fondo3-hojas-tropicales-dibujadas-mano_23-2148953987.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: cursive;
  font-size: 50px;
}

button {
  background-color: rgb(170, 204, 193);
  font-size: 110%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 300px;
  max-width: 80%;
  padding: 15px;
  margin: 15px auto;
  display: block;
}
